<template>
    <div id="app">
        <SideBar isActive="index"/>
        <NavBar/>
        <div class="main">
          <div class="container pt-4">
            <div class="row mt-5">
              <div class="col-10 col-sm-10 col-lg-6 pb-3">
                <h6 class="text-muted center">Borrowed and returned books</h6>
                <canvas id="barChart" width="280" height="200"></canvas>
              </div>
              <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                <h6 class="text-muted">Popular book genre</h6>
                <canvas id="pieChart" width="280" height="200"></canvas>
              </div>
            </div>
          </div>
  </div>
    </div>
</template>
<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = document.getElementById("barChart").getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE"],
          datasets: [
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(27, 135, 243, .8)",
            },
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(243, 135, 27, .8)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20, 10, 10],
              backgroundColor: [
                "rgb(31, 140, 208, .8)",
                "rgba(233, 119, 26, .8)",
                "rgba(161, 157, 155, .8)",
                "rgba(229, 161, 35, .8)",
                "rgba(34, 74, 204, .8)",
                "rgba(74, 204, 34, .8)",
              ],
            },
          ],

          labels: ["Sci Fi", "Drama", "Fairytale", "Horror", "Mystery", "Comic book"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>