<template>
<div class="sidenav">
    <div class="element-container ">
      <img src="../../assets/images/Logo.png" alt="">
    </div>
    <a href="index.html" class="">
      <div class="element-container active">
        <div class="element">
          <img src="../../assets/images/dashboard.png" height="25" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </a>
    <a href="patron.html" class="">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/patron.png" height="25" class="ml-4 mt-0 position-absolute">
          <p class="ml-6 option" href="">Patron Management</p>
        </div>
      </div>
    </a>
    <a href="books.html" class="">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/books.png" height="25" class="ml-4 mt-0 position-absolute">
          <p class="ml-6 option" href="">Books Management</p>
        </div>
      </div>
    </a>
    <a href="settings.html" class="">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/settings.png" height="20" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 mt-2 option" href="">Settings</p>
        </div>
      </div>
    </a>
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>